$tabletBreakPpint: 768px;
$smartPhneBreakPoint: 320px;

@mixin display{
    display: flex;
    flex-wrap: nowrap;
}

@mixin Responsive($breakPoint) {
    @media screen and (max-width: $breakPoint) {
        .footer {
           flex-direction: column;
           align-items: center;
           gap: 30px;
           justify-content: flex-start;
        }
    }
}

.footer{
    padding: 18px 22px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26%;

    &--socialMedia{
        @include display;
        i{
            padding: 0px 12px;
            font-size: 1.8rem;
            cursor: pointer;
        }
    }
    &--contactInfo{
        display: flex;
        flex-direction: column;
        gap: 23px;
        cursor: pointer;
        
        &:first-child{
            @include display;
        }
    }
}

@include Responsive($tabletBreakPpint);
