$hightlight-text: #E70404;
$tabletBreakPpint: 768px;
$smartPhneBreakPoint: 320px;

@mixin Responsive($breakPoint) {
    @media screen and (max-width: $breakPoint) {
        .IntroSection {
            flex-direction: column;
            gap: 30px;
        }
    }
}

.IntroSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20%;
    margin-bottom: 70px;

    &--heading{
        padding-bottom: 30px;
    }

    &--highlightText{
        color: $hightlight-text;
    }
    &__image{
        width: 100%;
        height: 100%;
    }
}

@include Responsive($tabletBreakPpint);
