@mixin padding{
    padding: 20px 0px;
}

.locations-container{    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    max-width: 90%;
    margin: 0 auto;
}

.location{
    max-width: 100%;
    margin: 0 auto;
    &--image{
        width: 80%;
        height: 60%;
    }
    &--place{
        @include padding;
        font-family: italic;
    }
    &--title{
        @include padding;
    }
}

.locations--header {
    @include padding;
    text-align: center;
   &::after{
    content: '';
    height: 3px;
    width: 10%;
    margin: 0 auto;
    background-color: #E38415;
    display: block;
   }
}
