$background-color: #F3F3F3;
$CTA-color: #000;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: $background-color;
}

.CTA-Btn{
    background-color: $CTA-color;
    padding: 8px 20px;
    color: #F3F3F3;
    border: none;
    display: block;
    margin-top: 16px;
    cursor: pointer;
}