$background-color: #F3F3F3;
$CTA-color: #000;
$duration: 2s;

@mixin animation($trnstalePro, $opactyVal){
    opacity: $opactyVal;
    transform: $trnstalePro;
    -webkit-transform: $trnstalePro;
    -moz-transform: $trnstalePro;
    -ms-transform: $trnstalePro;
    -o-transform: $trnstalePro;
}

@mixin animationValues{
    animation-duration: $duration;
    animation-fill-mode: forwards; /* Keep the final animation state */
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
    background-color: $background-color;
    cursor: none;
    overflow-x: hidden;
}

.cursor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    background-color: #00000000;
    box-shadow: 12px 12px 18px black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    pointer-events: none;
    backdrop-filter: blur();
}
.cursor__order{
    display: none;
    font-size: 1rem;
    color: #F3F3F3;
}
.CTA-Btn__cursor{
    cursor: none !important;
    background-color: #c2c2c200;
    z-index: 999;
    box-shadow: #000;
    & .cursor__order{
        display: none!important;
    }
}

.CTA-Btn{
    background-color: $CTA-color;
    text-decoration: none;
    text-align: center;
    padding: 8px 20px;
    color: #F3F3F3;
    border: none;
    display: block;
    margin-top: 16px;
    cursor: pointer;
}


.animate.location__animate-1, .animate.socilas__animate-1{
    animation-name: leftToWright;
    @include animationValues;
    @include animation(translateX(-100%), 0);

}

@keyframes leftToWright{

to{
    @include animation(translateX(0%), 1);

}
    
}

.animate.location__animate-2, .animate.socilas__animate-2{
    animation-name: topToBottom;
    @include animationValues;
    @include animation(translateY(-100%), 0);

}

@keyframes topToBottom{

to{
    @include animation(translateY(0%), 1);

}
    
}

.animate.location__animate-3, .animate.socilas__animate-3{
    animation-name: rightToLeft;
    @include animationValues;
    @include animation(translateX(100%), 0);

}

@keyframes rightToLeft{

to{
    @include animation(translateX(0%), 1);

}
    
}

.animate.locations--header__animate{
   
        animation-name: topToBottom;
        @include animationValues;
        @include animation(translateY(-100%), 0);
    
}