$underline: #E38415;
$tabletBreakPpint: 768px;
$smartPhneBreakPoint: 452px;


@mixin Responsive($breakPoint) {
    @media screen and (max-width: $breakPoint) {
        #displayNavBar{
            display: flex!important;
            flex-direction: column;
            align-items: center;
            margin-bottom: 22px;
        }
        .navBar{
            display: none!important;
        
        &--open , &--close {
            display: block!important;
        }
       
    }
}
}

nav{
    width: 100%;

    .navBar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 52px;
        padding: 12px 22px;

            &--open, &--close{
                display: none;
                width: 20px;
                margin: 30px auto;
                font-size: 1.6rem;
}
    }
    .NavBare--logo{
            width: 100px;
            height: 100px;
    }
    .NavBare--item{
        list-style: none;
        & a{
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }
        a::after{
            content: '';
            height: 2px;
            width: 0%;
            background-color: $underline;
            display: block;
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -ms-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
}
        a:hover::after{
            content: '';
            height: 2px;
            width: 100%;
            background-color: $underline;
            display: block;
        }
    }

}

@include Responsive($smartPhneBreakPoint);
