$underline: #E38415;
$NavBarBackground: #ffffff;
$tabletBreakPpint: 768px;
$smartPhneBreakPoint: 452px;

@mixin Shadow(){
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}
@mixin Responsive($breakPoint) {
    @media screen and (max-width: $breakPoint) {
        #displayNavBar{
            display: flex!important;
            flex-direction: column;
            align-items: center;
            margin-bottom: 22px;
        }
        .navBar{
            display: none!important;
        
        &--open , &--close {
            display: block!important;
        }
       
    }
}
}

nav{
    width: 100%;
    position: sticky;
    top: 0;
    @include Shadow;

    .navBar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 22px;
        gap: 52px;
        padding: 8px 22px;

            &--open, &--close{
                display: none;
                width: 20px;
                margin: 30px auto;
                font-size: 1.6rem;
            }
            &__sticking{
                background-color: $NavBarBackground;
                transition: background-color 500ms;
                -webkit-transition: background-color 500m;
                -moz-transition: background-color 500m;
                -ms-transition: background-color 500m;
                -o-transition: background-color 500m;
            }
    }
    .NavBare--logo{
            width: 70px;
            height: 60px;
    }
    .NavBare--item{
        list-style: none;
        & .NavBare--Link{
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }
        .NavBare--Link::after{
            content: '';
            height: 2px;
            width: 0%;
            background-color: $underline;
            display: block;
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -ms-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
}
        .NavBare--Link:hover::after{
            content: '';
            height: 2px;
            width: 100%;
            background-color: $underline;
            display: block;
        }
    }

}

.navBar__sticking{
    display: flex;
    justify-content: center;
    @include Shadow;
    background-color: $NavBarBackground;
    transition: background-color 500ms;
    -webkit-transition: background-color 500m;
    -moz-transition: background-color 500m;
    -ms-transition: background-color 500m;
    -o-transition: background-color 500m;

    .navBar{
        padding: 20px 12px;
        margin-bottom: 22px;

        .NavBare--Link{
            color: #110101;
        }
    }
    .NavBare--logo{
        position: fixed;
        top: 8px;
        left: 8px;
    }
}


@include Responsive($smartPhneBreakPoint);
