.Order{
    background-color: #FE5D03;
    padding: 33px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;


    &--header{
        color: white;
        text-align: center;
    }
}